:root {
    --primary: #7b2ff7;
    --primary-gradient: linear-gradient(90deg, #7b2ff7, #f107a3);
    --secondary: #9f6eff;
    --success: #00c853;
    --danger: #f44336;
    --light-bg: #f7f8fc;
    --card-bg: #f9f9ff;
    --text-dark: #333;
    --text-light: #888;
    --border: #dcdcdc;
    --white: #fff;
  }

.erro-login {
    color: var(--danger);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

input[type="email"] {
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 0.75rem;
    margin: 0.5rem 0;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: var(--primary-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

